@font-face {
    font-family: 'Whitecapel';
    src: url('assets/fuentes/WhiteCapel.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'whitecapel', sans-serif;
}

.font-whitecapel {
    font-family: 'whitecapel', sans-serif;
}

.font-outfit {
    font-family: "Outfit", sans-serif;
}

.font-raleway {
    font-family: "Raleway", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    scroll-margin-top: 100px;
}

.custom-nav-border {
    border-bottom: 10px solid black;
}


#navbarNav .nav-item .nav-link {
    position: relative;
    color: black !important;
}

#navbarNav .nav-item .nav-link::after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width 0.3s ease-in-out;
    transform: translateX(-50%);
}

#navbarNav .nav-item .nav-link:hover::after {
    width: 70%;
}


.hero-bg {
    background-image: url("assets/imagenes/qnportada.jpeg");
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
    padding-top: 80px;
}

.hero-text {
    font-size: 32px;
    max-width: 1300px;
    margin: 0 auto;
    text-shadow: 0 4px 4px black, 0 4px 4px black;
}

.hero-title {
    font-size: 7rem;
    line-height: 0.9;
    padding-bottom: 20px;
}

@media (max-width: 992px) {
    .hero-title {
        font-size: 4rem;
        line-height: 1.1;
    }

    .hero-text {
        font-size: 16px !important;
    }
}


@media (max-width: 576px) {
    .hero-title {
        font-size: 3rem;
    }
}