@font-face {
    font-family: 'Whitecapel';
    src: url('assets/fuentes/WhiteCapel.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'whitecapel', sans-serif;
}

.font-whitecapel {
    font-family: 'whitecapel', sans-serif;
}

.font-beth {
    font-family: "Beth Ellen", cursive;
}

.font-outfit {
    font-family: "Outfit", sans-serif;
}

.font-raleway {
    font-family: "Raleway", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    scroll-margin-top: 100px;
}

.custom-nav-border {
    border-bottom: 10px solid black;
}

.navbar-nav .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

.hero-bg {
    background-image: url("assets/imagenes/qnportada.jpeg");
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
    padding-top: 80px;
}

.hero-text {
    font-size: 32px;
    max-width: 1300px;
    margin: 0 auto;
    text-shadow: 0 4px 4px black, 0 4px 4px black;
}

@media (max-width: 992px) {
    .hero-bg h1 {
        font-size: 50px;
    }

    .hero-text {
        font-size: 20px;
    }
}

.titulo-seccion {
    font-size: 40px;
    margin-bottom: 15px;
}